/*-----Vue d'ensemble------*/
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 7vh 1fr auto auto auto;
    grid-template-columns: repeat(4);
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "contact contact contact contact"
        "footer footer footer footer"
}

.btn {
    padding: 10px;
    margin: 10px;
}

.btn:hover {
    border: solid 1px white;
}

.bg-theme {
    background-color: rgb(78, 148, 78);

}

.colorw {
    color: white;
}

.b-rad20 {
    border-radius: 20px;
}
.marginauto {
    margin: auto;
}

.txtaligncenter {
    text-align: center;
}

.marg10 {
    margin-left: 10px;
}
.wid100 {
    width: 100%;
}

.wid70 {
    width: 70%;
}


/*-----Outils flex------*/
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.al-i-center {
    display: flex;
    align-items: center;
}

.jus-ctnt-center {
    display: flex;
    justify-content: center;
}

/*-----Navbar------*/
.tsite{
    text-transform: uppercase;
}
nav {
    grid-area: nav;
    justify-content: space-around;
    background-color: rgb(7, 124, 7);
}

.ulnavbar {
    list-style: none;
    overflow: hidden;
}
.linavbar {
    float: left;
}

.linavbar a {
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
}

.linavbar a:hover {
    background-color: #111;
}


/*-----header------*/
header {
    grid-area: header;
    background-image: url(https://diapogram.com/_data/i/upload/2019/04/11/20190411234429-79e7caa4-me.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: 400px;

}

/*-----main------*/
main {
    grid-area: main;
    display: grid;
    grid-template-rows: 7vh auto auto auto;
    grid-template-columns:repeat(2);
    grid-template-areas:
        "h2 h2"
        "mosaique mosaique"
        "mosaique mosaique"
        "formulaire formulaire";
}

h2 {
    grid-area: h2;
    border: 3px solid black;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 5px;
}

.mosaique {
    grid-area: mosaique;
    display: grid;
    padding: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(2);
    grid-template-areas:
        "mosa1 mosa2"
        "mosa3 mosa4"
        "mosa5 mosa5"
        "mosa6 mosa6";
}

.mosactr {
    list-style: none;
    text-align: center;
}

.card {
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.mosagridr {
    display: grid;
    grid-template-rows: 7vh auto 7vh;
    grid-template-columns: 60vw 40vw;
    grid-template-areas:
        "titre titre"
        "txt img"
        "date img";
}

.mosagridl {
    display: grid;
    grid-template-rows: 7vh auto 7vh;
    grid-template-columns: 40vw 60vw;
    grid-template-areas:
        "titre titre"
        "img txt"
        "img date";
}

.mgridst {
    grid-area: titre;

}

.mgridi {
    grid-area: img;
}

.mgridtxt {
    grid-area: txt;

}

.mgridd {
    grid-area: date;

}

.mosa1 {
    grid-area: mosa1;
}

.mosa2 {
    grid-area: mosa2;
}

.mosa3 {
    grid-area: mosa3;
}

.mosa4 {
    grid-area: mosa4;
}

.mosa5 {
    grid-area: mosa5;
}

.mosa6 {
    grid-area: mosa6;
}

.formulaire {
    grid-area: contact;
    padding: 10px;
    border: 1px dotted black;
    background-color: grey;
}

/*-----footer------*/
footer {
    grid-area: footer;
    background-color: rgb(7, 124, 7);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "terms mail"
        "socials socials"
        "copyright copyright";
}

.footermail {
    grid-area: mail;
    text-align: right;
    padding: 5px;
}

.footerterms {
    grid-area: terms;
}

.copyright {
    grid-area: copyright;
}

.socials {
    grid-area: socials;
    letter-spacing: 3px;
}

@media (max-width: 914px) {
    p{
        margin: 0px 0px;
    }
    .container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: repeat(4);
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "main main main main"
            "contact contact contact contact"
            "footer footer footer footer"
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-style: double;
        background-image: url(https://diapogram.com/_data/i/upload/2019/04/11/20190411234429-79e7caa4-me.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 1px solid black;
        max-width: 100%;
        height: 250px;
    }
    .mosaique {
        grid-area: mosaique;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .mosagridr {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mosagridl {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mosa {
        list-style: none;
        text-align: center;
        outline: none;
    }

    footer {
        grid-area: footer;
        background-color: rgb(7, 124, 7);
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footermail {
        grid-area: mail;
        padding: 5px;
        text-align: center;
        justify-content: center;
    }
    
    .footerterms {
        grid-area: terms;
        text-align: center;
        justify-content: center;
    }
    
    .wid70{
        width:auto
    }
    ul.ulnavbar{
        margin: 0px 0px;
        padding:0px 0px 0px 0px;
    }
    .ulnavbar{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width: 427px) {
    .linavbar a {
        padding: 0px 5px;
    }
}
